@page "/"

<PageTitle>HIGHLIGHT - Dashboard</PageTitle>

<h1>Welcome to Highlight</h1>

<br /><hr /><br />
<button class="btn btn-primary">
    Start to make portfolio
</button>
@*<SurveyPrompt Title="How is Blazor working for you?" />*@
