<!-- ======= Concept Section ======= -->
@*class : section-bg*@
<section id="concept2" class="concept2">
    <div class="container">

        <div class="section-title">
            <h2>Concept2</h2>
        </div>

        @*<div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>*@

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <iframe width="635"
                            height="330"
                            src="https://www.youtube.com/embed/m8e-FF8MsqU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <iframe width="635"
                            height="330"
                            src="https://www.youtube.com/embed/m8e-FF8MsqU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="/images/sample/pic/portfolio-1.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="/images/sample/pic/portfolio-2.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="/images/sample/pic/portfolio-3.jpg" class="img-fluid" alt="">
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Concept Section -->