<!-- ======= Concept Section ======= -->
<section id="concept" class="concept">
    <div class="container">
        <div class="section-title">
            <h2>Concept</h2>
            @*<p>
            Magnam dolores commodi suscipit. Necessitatibus eius consequatur
            ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
            quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
            Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>*@
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="/images/sample/profile-img.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Introduce yourself in one line.</h3>
                @*<p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>*@
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <strong>Birthday:</strong> <span>1 May 1994</span>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <strong>Phone:</strong> <span>+123 456 7890</span>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>Size:</strong>
                                <span>181cm 74kg 👕105👖32👞270</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                                <span>31</span>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <strong>Email:</strong>
                                <span>email@example.com</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-12" style="margin-top:30px;">
                        <h3>Main Filmography</h3>
                        <ul>
                            <li>
                                <strong>드라마 - </strong> <span>SBS 치얼업 단역</span>
                            </li>
                            <li>
                                <strong>광고 - </strong> <span>신세계 ‘JAJU’ 디즈니 메인페이지</span>
                            </li>
                            <li>
                                <strong>광고 - </strong> <span>PlayStation Korea 공식 유튜브</span>
                            </li>
                            <li>
                                <strong>방송 - </strong> <span>나는 솔로</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Concept Section -->