@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<section id="home" class="home">
    <div class="container">
        
        <div class="row">
            <div class="section-title col-lg-10 col-md-6" style="margin-bottom:100px;">
                <h2>HELLO, MY NAME IS</h2>
                <p>
                    <h1><strong>청슬</strong>입니다.</h1>
                    <h3>Chung Seul</h3>
                </p>
            </div>
        </div>
        
        <div class="row no-gutters">

            <div class="col-lg-6 col-md-6 d-md-flex align-items-md-stretch aos-init aos-animate" data-aos="fade-up">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <p class="align-center" style="font-size:32px; font-weight:bold; color:#173b6c;">Camera Test ( Updated : 11/14/2022 )</p>
                    <iframe width="600"
                            height="350"
                            src="https://www.youtube.com/embed/m8e-FF8MsqU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-md-flex align-items-md-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <p style="font-size:32px; font-weight:bold; color:#173b6c">Highlight ( Updated : 11/01/2022 )</p>
                    <iframe width="600"
                            height="350"
                            src="https://www.youtube.com/embed/m8e-FF8MsqU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</section>


@code {

}