<section id="home" class="home">
    <div class="container">
        <div class="section-title">
            <h2>HELLO, MY NAME IS</h2>
            <p>
                <h2><strong>청슬</strong>입니다.</h2>
                <h3>Chung-Seul</h3>
            </p>
        </div>

        <br/><br/><br/><br/><br/>

        <div class="row no-gutters">

            <div class="col-lg-6 col-md-6 d-md-flex align-items-md-stretch aos-init aos-animate" data-aos="fade-up">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    @*<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="0" class="purecounter">232</span>*@
                    <h2 style="color: #173b6c;">Camera Test ( Updated : 11/14/2022 )</h2>
                    <iframe width="560"
                            height="315"
                            src="https://www.youtube.com/embed/m8e-FF8MsqU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-md-flex align-items-md-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    @*<span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="0" class="purecounter">521</span>*@
                    <h2 style="color: #173b6c;">Highlight ( Updated : 11/01/2022 )</h2>
                    <iframe width="560"
                            height="315"
                            src="https://www.youtube.com/embed/m8e-FF8MsqU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</section>
