@page "/admin/applyto"
@using Radzen
@using Radzen.Blazor
@attribute [Authorize]



<h3>Apply to</h3> <br/><br/>

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true"
                FilterMode="FilterMode.Simple" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@applies" TItem="Apply" ColumnWidth="300px"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Apply" Property="ID" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
        @*<RadzenDataGridColumn TItem="Employee" Title="Photo" Sortable="false" Filterable="false" Width="200px" >
        <Template Context="data">
        <RadzenImage Path="@data.Photo" class="rz-gravatar" />
        </Template>
        </RadzenDataGridColumn>*@
        <RadzenDataGridColumn TItem="Apply" Property="Title" Title="Title" />
        <RadzenDataGridColumn TItem="Apply" Property="Date" Title="Date" FormatString="{0:d}" />
        <RadzenDataGridColumn TItem="Apply" Property="Result" Title="Result" />
        <RadzenDataGridColumn TItem="Apply" Property="Notes" Title="Notes" />
    </Columns>
</RadzenDataGrid>


@code {
    IEnumerable<Apply> applies;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //employees = dbContext.Employees;
    }
}


<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />