@page "/admin/applyto"
@using Radzen
@using Radzen.Blazor
@attribute [Authorize]
@inject HttpClient Http


<h3>Apply to</h3>
<br />
<br />

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid Data="@forecasts" TItem="WeatherForecast" AllowPaging="true" PageSize="10" AllowSorting="true" AllowFiltering="true" AllowColumnResize="true">
        <Columns>
            <RadzenDataGridColumn TItem="WeatherForecast" Property="Date" Title="Date">
                <Template Context="forecast">
                    @forecast.Date.ToShortDateString()
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="WeatherForecast" Property="TemperatureC" Title="Temp. (C)" />
            <RadzenDataGridColumn TItem="WeatherForecast" Property="TemperatureF" Title="Temp. (F)" />
            <RadzenDataGridColumn TItem="WeatherForecast" Property="Summary" Title="Summary" />
        </Columns>
    </RadzenDataGrid>


    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true"
                FilterMode="FilterMode.Simple" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@applies" TItem="Apply" ColumnWidth="300px"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="Apply" Property="ID" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
            @*<RadzenDataGridColumn TItem="Employee" Title="Photo" Sortable="false" Filterable="false" Width="200px" >
        <Template Context="data">
        <RadzenImage Path="@data.Photo" class="rz-gravatar" />
        </Template>
        </RadzenDataGridColumn>*@
            <RadzenDataGridColumn TItem="Apply" Property="Title" Title="Title" />
            <RadzenDataGridColumn TItem="Apply" Property="Date" Title="Date" FormatString="{0:d}" />
            <RadzenDataGridColumn TItem="Apply" Property="Result" Title="Result" />
            <RadzenDataGridColumn TItem="Apply" Property="Notes" Title="Notes" />
        </Columns>
    </RadzenDataGrid>
}




@code {
    IEnumerable<Apply> applies;
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}


<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />