@page "/Schedule"
@attribute [Authorize]

<h3>Schedule</h3>

<div style="width:600px; height:350px;">
    <iframe width="600"
            height="350"
            src="https://www.youtube.com/embed/m8e-FF8MsqU"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>


@code {

}
