@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims
@inherits LayoutComponentBase
@inject IAuthService AuthService
@attribute [Authorize]

<div class="page">
    <div class="sidebar" style="background-color:#3a474d;">
        <NavMenu />
    </div>

    <main>
        <div id="top" class="top-row px-4">
            <AuthorizeView>
                <h3 style="margin-right:20px;">Hello, <i>@userName</i></h3>
            </AuthorizeView>
            <UserButton />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string userName = string.Empty;
    bool isAuthenticated = false;

    protected override async Task OnInitializedAsync() {

        isAuthenticated = await AuthService.IsUserAuthenticated();

        if (isAuthenticated){
            userName = (await AuthStateProvider.GetAuthenticationStateAsync())
                    .User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name).Value;
        }
        
    }
    
}

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />