@inherits LayoutComponentBase
@attribute [Authorize]

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div id="top" class="top-row px-4">
            <AuthorizeView>
                <h3>Hi! <i>@context.User.Identity.Name</i></h3>
            </AuthorizeView>
            <UserButton />
            @*<a href="/" target="_blank">Login</a>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>